@import "tailwindcss";

@theme {
  --color-diatome-blue: #0B2F8A;
  --color-diatome-red: #E31837;
  
  --color-primary: #0B2F8A;
  --color-secondary: #E31837;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}
